//------------------FORM-------------------
form {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    align-content: center;
    unicode-bidi: isolate;
}
.btn-primary {
    color: $color4!important;
    background-color: $color1!important;
    border-color:$color2!important;
}
//----------------FIN FORM----------------
