//------------------------ENCABEZADO----------------------------
.encabezado{
    .negro {
        @include link ($font1, none, $color4);
        text-align: center;
        background-color: $color3;
        padding: 97px 0% 1% 0%;
        margin-bottom: 0px;
    }
}
//---------------------FIN ENCABEZADO--------------------------
//---------------------------NAVAR-------------------------------
h1{
    font-size: calculate-rem(32px);
    @include link ($font1, none, $color2);
    transition: color $transition3;
    &:hover{
        color:$color3
    }
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: $color1 !important;
}
.offcanvas-body {
    background-color: $color3 ;
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
}
.dropdown-menu.show {
    background-color: $color1;
    display: block;
}
.offcanvas-title {
    color: $color2;
    margin-bottom: 0;
    line-height: 1.5;
}
.offcanvas-header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: $color4;
}
.btn-outline-success {
    color:  $color4;
    border-color: $color1;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color2;
    background-color: $color2;
    background-clip: padding-box;
    border: 1px solid $color4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
//-------------------------FIN NAVAR-----------------------------